In [1]:
from utils.utils import *
import pandas as pd
%load_ext autoreload
%autoreload 2
from IPython.display import display, HTML
from utils.lta_omv_scraper import *
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np
import time
from datetime import datetime

### Read and clean dataset

In [2]:
train_df = pd.read_csv(r"./dataset/train.csv")

# clean model
train_df['model'] = train_df['model'].apply(lambda x:x.replace('(', ''))
train_df['reg_date_dt'] = train_df['reg_date'].apply(lambda x: datetime.strptime(x, "%d-%b-%Y"))
train_df['reg_date_year'] = train_df['reg_date_dt'].apply(lambda x:x.year)
train_df['reg_date_month'] = train_df['reg_date_dt'].apply(lambda x:x.month)

In [6]:
train_df["model_make"] = train_df.model + "_" + train_df.make

### Fill missing 'make' info from title

In [3]:
make_ls = train_df['make'].dropna().unique()
compiled_regex = compile_make_pattern(make_ls)

train_df = apply_make_extraction(train_df, compiled_regex)

In [5]:
train_df['make'] = train_df['make'].fillna(train_df['extracted_make'])

### type_of_vehicle

### curb_weight

In [7]:
def fill_column_b_with_mean(df, column_a, column_b):
    # Calculate the mean of column B grouped by column A
    values = df.groupby(column_a)[column_b].agg(["mean"]).rename(columns={"mean": column_b})[column_b]
    
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        # If column B is NaN, fill it with the mean value of column B for the corresponding value in column A
        if pd.isna(row[column_b]):
            df.at[index, column_b] = values[row[column_a]]
    
    return df

In [11]:
feature = "curb_weight"
ref_col = "model_make"
new_df = fill_column_b_with_mean(train_df,ref_col,feature)
train_df['curb_weight_impute'] = new_df[feature]

### power

In [12]:
feature = "power"
ref_col = "model_make"
new_df = fill_column_b_with_mean(train_df,ref_col,feature)
train_df['power_impute'] = new_df[feature]

### engine_cap

In [22]:
feature = "engine_cap"
ref_col = "model_make"
new_df = fill_column_b_with_mean(train_df,ref_col,feature)
train_df['engine_cap_impute'] = new_df[feature]

### no_of_owners

### depreciation

### dereg_value

### mileage

### omv

In [14]:
result_ls = get_lta_omv_data(2002, 2025)
df_lta_car_data = preprocess_lta_omv_data(result_ls)

In [15]:
def impute_using_lta_data(row):
    # print(row)
    if not np.isnan(row['omv']):
        return row['omv']
    else:
        make = row['make']
        model = row['model']
        year = row['reg_date_year']
        lookup_by_make_model_year = df_lta_car_data[(df_lta_car_data['make_clean'] == make) & (df_lta_car_data['model_split'].str.contains(model)) & (df_lta_car_data['year'] == year)]
        
        lookup_by_make_model = df_lta_car_data[(df_lta_car_data['make_clean'] == make) & (df_lta_car_data['model_split'].str.contains(model))]

        lookup_by_make = df_lta_car_data[(df_lta_car_data['make_clean'] == make)]
        
        if not lookup_by_make_model_year.empty:
            # print('lookup_by_make_model_year')
            return lookup_by_make_model_year['omv_clean'].mean()
        elif not lookup_by_make_model.empty:
            # print('lookup_by_make_model')
            return lookup_by_make_model['omv_clean'].mean()
        elif not lookup_by_make.empty:
            # print('lookup_by_make')
            return lookup_by_make['omv_clean'].mean()
        else: 
            return None

In [17]:
train_df['omv_new'] = train_df['omv']
train_df['omv_new'] = train_df.apply(impute_using_lta_data, axis=1)
train_df['omv_new'] = train_df['omv_new'].fillna(train_df['omv_new'].mean())

train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 39 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   listing_id          25000 non-null  int64
 1   title               25000 non-null  object
 2   make                25000 non-null  object
 3   model               25000 non-null  object
 4   description         24320 non-null  object
 5   manufactured        24993 non-null  float64
 6   original_reg_date   255 non-null    object
 7   reg_date            25000 non-null  object
 8   type_of_vehicle     25000 non-null  object
 9   category            25000 non-null  object
 10  transmission        25000 non-null  object
 11  curb_weight         24906 non-null  float64
 12  power               23113 non-null  float64
 13  fuel_type           5879 non-null   object
 14  engine_cap          24404 non-null  float64
 15  no_of_owners        24982 non-null  float64
 16  depreciation        24493 non-null  float64
 17  coe                 25000 non-null  int64
 18  road_tax            22368 non-null  float64
 19  dereg_value         24780 non-null  float64
 20  mileage             19696 non-null  float64
 21  omv                 24936 non-null  float64
 22  arf                 24826 non-null  float64
 23  opc_scheme          162 non-null    object
 24  lifespan            2329 non-null   object
 25  eco_category        25000 non-null  object
 26  features            24157 non-null  object
 27  accessories         21187 non-null  object
 28  indicative_price    0 non-null      float64
 29  price               25000 non-null  float64
 30  reg_date_dt         25000 non-null  datetime64[ns]
 31  reg_date_year       25000 non-null  int64
 32  reg_date_month      25000 non-null  int64
 33  extracted_make      25000 non-null  object
 34  model_make          25000 non-null  object
 35  curb_weight_impute  24906 non-null  float64
 36  power_impute        23113 non-null  float64
 37  cylinder_cnt        25000 non-null  float64
 38  omv_new             25000 non-null  float64
dtypes: datetime64[ns](1), float64(17), int64(4), object(17)
memory usage: 7.4+ MB

### features

In [13]:
train_df['cylinder_cnt'] = train_df['features'].apply(lambda x: extract_cylinder_from_features(x) if pd.notnull(x) else None)
cylinder_count_dict = extract_cylinder_by_model_make(train_df)
train_df['cylinder_cnt'] = train_df.apply(lambda x:impute_row_by_make_model(x, cylinder_count_dict, 'cylinder_cnt'), axis=1)
# fill remaining values with median of 4 cylinder (most common engine)
median_cylinder_cnt = train_df['cylinder_cnt'].median(axis=0)
train_df['cylinder_cnt'] = train_df['cylinder_cnt'].fillna(median_cylinder_cnt)

## Training models

In [21]:
# display(HTML(train_df.head(50).to_html()))