In [64]:
from utils.utils import *
import pandas as pd
%load_ext autoreload
%autoreload 2
from IPython.display import display, HTML
from utils.lta_omv_scraper import *
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np
import time
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import os

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [73]:
orig_df = pd.read_csv(r"./dataset/train.csv")
test_df = pd.read_csv(r"./dataset/test.csv")

# clean model
orig_df['model'] = orig_df['model'].apply(lambda x:x.replace('(', ''))
orig_df['reg_date_dt'] = orig_df['reg_date'].apply(lambda x: datetime.strptime(x, "%d-%b-%Y"))
orig_df['reg_date_year'] = orig_df['reg_date_dt'].apply(lambda x:x.year)
orig_df['reg_date_month'] = orig_df['reg_date_dt'].apply(lambda x:x.month)

In [74]:
train_df, val_df = train_test_split(orig_df, test_size=0.2, random_state=42, shuffle=True)

### Fill missing 'make' info from title

In [75]:
make_ls = train_df['make'].dropna().unique()
make_ls

array(['isuzu', 'toyota', 'volvo', 'kia', 'mini', 'bmw', 'ssangyong',
       'byd', 'mercedes-benz', 'aston martin', 'subaru', 'mazda', 'skoda',
       'honda', 'mitsubishi', 'lexus', 'infiniti', 'volkswagen',
       'ferrari', 'nissan', 'porsche', 'chevrolet', 'opel', 'daihatsu',
       'audi', 'suzuki', 'lamborghini', 'hyundai', 'jeep', 'seat', 'mg',
       'peugeot', 'renault', 'lotus', 'jaguar', 'maserati', 'mclaren',
       'citroen', 'alfa romeo', 'fiat', 'land rover', 'triumph',
       'bentley', 'hummer', 'rolls-royce', 'maxus', 'tesla', 'shineray',
       'hino', 'perodua', 'iveco', 'alpine', 'sokon', 'austin',
       'golden dragon', 'rover', 'ford', 'cupra', 'ud', 'mitsuoka',
       'polestar', 'dfsk', 'foton', 'higer', 'scania', 'camc', 'morris',
       'daimler', 'datsun', 'ds', 'sunbeam', 'proton', 'ruf', 'srm',
       'chrysler', 'sinotruk', 'yutong', 'valiant', 'ora', 'dodge',
       'morgan', 'king long', 'bertone', 'td', 'cadillac', 'smart', 'man',
       'sc', 'range', 'joylong', 'international'], dtype=object)

https://www.sgcarmart.com/new_cars/index.php

In [78]:
idx_val = test_df[test_df['make'].isna()].index
test_df.loc[idx_val]

,listing_id,title,make,model,description,manufactured,original_reg_date,reg_date,type_of_vehicle,category,...,dereg_value,mileage,omv,arf,opc_scheme,lifespan,eco_category,features,accessories,indicative_price
3072,1307974,KYC V7 Electric,None,v7,"designed with functionality, practicality and ...",2024.0,NaN,04-jun-2024,van,"almost new car, premium ad car, electric cars",...,41152.0,NaN,27358.0,1368.0,NaN,03-jun-2044,uncategorized,driving range on a single charge - 235km to 28...,7-inch touchscreen digital infotainment system...,NaN
3475,1306896,KYC V7 Electric,None,v7,11,2024.0,NaN,03-jun-2024,van,"almost new car, electric cars",...,45329.0,100.0,27358.0,1368.0,NaN,02-jun-2044,uncategorized,"range 235km-285km for 1 charging, torque 220nm...","7"" touchscreen digital infotainment system w/b...",NaN
5270,1116426,Tata Daewoo Prima,None,daewoo,NaN,2017.0,NaN,27-dec-2017,truck,"premium ad car, low mileage car",...,NaN,33825.0,98633.0,4932.0,NaN,26-dec-2037,uncategorized,NaN,NaN,NaN
7061,1327139,Zhong Tong LCK6107H,None,tong,mint condition zhongtong 45s. maintained with ...,2017.0,NaN,29-dec-2017,bus/mini bus,premium ad car,...,15177.0,NaN,102252.0,5113.0,NaN,28-dec-2037,uncategorized,NaN,"2 doors, auto transmission, auto luggage compa...",NaN
7284,1329792,Saab 9-5 2.0A Vector (COE till 01/2031),None,9-5,"full loan/bank loan available, superbly well m...",2010.0,NaN,07-jan-2011,luxury sedan,"coe car, premium ad car, low mileage car",...,27107.0,107000.0,43027.0,43027.0,NaN,NaN,uncategorized,"2.0l inline turbocharged dohc engine, automati...","leather seats, sports rims, dual climatic cont...",NaN
8853,1293101,Saab 9-3 Linear 2.0A LPT (COE till 04/2029),None,9-3,10,2007.0,NaN,26-jun-2009,luxury sedan,"coe car, premium ad car",...,17269.0,169000.0,32206.0,32206.0,NaN,NaN,uncategorized,"2.0 lpt inline turbocharged dohc engine, auto ...","leather seats, sports rims, good cond tyres, d...",NaN
9704,1159217,Maybach 62 S Long (COE till 12/2030),None,62,bose premium stereo system. only 3 units in si...,2011.0,NaN,27-dec-2011,luxury sedan,"coe car, rare & exotic, low mileage car",...,26659.0,5000.0,765955.0,765955.0,NaN,NaN,uncategorized,powerful 6.0l v12 twin turbocharged engine pro...,"20"" signature maybach aluminum rims, multi fun...",NaN

In [77]:
make_model_imputer = MakeModelImputer(make_ls)
train_df = make_model_imputer.fit_transform(train_df)
val_df = make_model_imputer.transform(val_df) # 4 rows missing
test_df = make_model_imputer.transform(test_df) # 7 rows missing

In [72]:
test_df

,listing_id,title,make,model,description,manufactured,original_reg_date,reg_date,type_of_vehicle,category,...,dereg_value,mileage,omv,arf,opc_scheme,lifespan,eco_category,features,accessories,indicative_price
0,1303772,Honda Vezel 1.5A X,honda,vezel,4614,2015.0,NaN,29-apr-2015,suv,parf car,...,9582.0,112000.0,19229.0,9229.0,NaN,NaN,uncategorized,"powerful 1.5l i-vtec engine producing 128bhp, ...","pioneer touch screen with reverse camera, 16"" ...",NaN
1,1323166,Mazda 3 1.6A SP (COE till 10/2027),mazda,3,extremely well maintained and in pristine cond...,2007.0,NaN,26-oct-2007,mid-sized sedan,"coe car, premium ad car, low mileage car",...,13644.0,120000.0,14347.0,15782.0,NaN,NaN,uncategorized,fuel efficient 1.6l 4-cylinder inline 16-valve...,"multi-function steering wheel, keyless entry, ...",NaN
2,1308405,MINI Cooper S Countryman 2.0A,mini,cooper,1 owner! beautiful island blue color! eurokars...,2019.0,NaN,27-mar-2020,sports car,parf car,...,54818.0,43000.0,39863.0,47809.0,NaN,NaN,uncategorized,"output of 141kw, 189bhp at 5000rpm to 6000rpm,...","18"" sports rims, sports leather seats, navigat...",NaN
3,1216706,Toyota Vios 1.5A G,toyota,vios,fully agent maintain! genuine low mileage at 5...,2019.0,NaN,28-jun-2019,mid-sized sedan,"parf car, premium ad car",...,26363.0,53300.0,15573.0,15573.0,NaN,NaN,uncategorized,"1.5l 4 cylinder 16 valves dohc vvt-i engine, 7...","push start button, toyota factory player, reve...",NaN
4,1298206,Mazda 3 HB 1.5A,mazda,3,workshop check/sta evaluation available. accid...,2015.0,NaN,19-nov-2015,hatchback,"parf car, premium ad car",...,15197.0,149000.0,18097.0,13097.0,NaN,NaN,uncategorized,1.5l 4 cylinder inline dohc 16 valves skyactiv...,factory fitted audio with audio & multi functi...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1315765,MG HS 1.5A Turbo,mg,hs,stylish and fuel-efficient drive at an afford...,2020.0,NaN,30-nov-2020,suv,parf car,...,40705.0,50000.0,19388.0,19388.0,NaN,NaN,uncategorized,powered by a 1.5l turbocharged inline-4 cylind...,"17-inch rims, led drls, 10"" color touch screen...",NaN
9996,1267725,Mercedes-Benz GLA-Class GLA180 Progressive,mercedes-benz,gla180,1 owner and low mileage. comes with agent warr...,2022.0,NaN,21-feb-2023,suv,"parf car, premium ad car, low mileage car",...,104529.0,8500.0,34087.0,39722.0,NaN,NaN,uncategorized,powered by a inline 4 cylinder turbocharged en...,"factory 10.25"" mbux infotainment system with a...",NaN
9997,1174990,BMW 3 Series 320i Convertible (COE till 09/2030),bmw,320,"just install koni shocks, for the best road ha...",2010.0,NaN,17-dec-2010,sports car,coe car,...,22004.0,163955.0,42233.0,42233.0,NaN,NaN,uncategorized,"2.0l engine, rare convertible. view specs of t...","new upgraded steering, android player, flawles...",NaN
9998,1221623,Kia Cerato 1.6A EX,kia,cerato,"at dickson, we don't just sell cars, we sell t...",2019.0,NaN,02-mar-2020,mid-sized sedan,parf car,...,28242.0,85473.0,14799.0,14799.0,NaN,NaN,uncategorized,responsive 1.6l 4 cylinders inline 16 valve du...,"3 day money-back, certified cars, one-year war...",NaN
9999,1311711,Subaru Forester 2.5XT (COE till 08/2028),subaru,forester,"18"" wedssport rims, sti brembo, carbon fibre s...",2008.0,NaN,25-aug-2008,suv,"coe car, premium ad car, low mileage car",...,14389.0,155385.0,21692.0,21692.0,NaN,NaN,uncategorized,"powerful 2.5l turbocharged, boxer engine, auto...","original leather seats, aftermarket headunit, ...",NaN

### Cylinder count extractor

In [7]:
cylinder_count_extractor = CylinderExtractor()
train_df = cylinder_count_extractor.transform(train_df)
val_df = cylinder_count_extractor.transform(val_df)

In [13]:
train_df.head()

,listing_id,title,make,model,description,manufactured,original_reg_date,reg_date,type_of_vehicle,category,...,lifespan,eco_category,features,accessories,indicative_price,price,reg_date_dt,reg_date_year,reg_date_month,cylinder_cnt
23311,1260733,Isuzu NPR85,isuzu,npr85,cheapest in the market! 14 feet full canopy wi...,2019.0,NaN,01-jul-2020,truck,premium ad car,...,30-jun-2040,uncategorized,view specs of the isuzu n series diesel,NaN,NaN,89800.0,2020-07-01,2020,7,NaN
23623,1289505,Honda Fit 1.3A G (COE till 06/2024),honda,fit,200,2009.0,NaN,12-aug-2009,hatchback,coe car,...,NaN,uncategorized,view specs of the honda fit,NaN,NaN,700.0,2009-08-12,2009,8,NaN
1020,1316182,Toyota Sienta 1.5A,toyota,sienta,non phv. excellent condition. 100% accident fr...,2018.0,NaN,28-may-2018,mpv,"parf car, premium ad car",...,NaN,uncategorized,"1.5l dohc 16v vvt-i engine, 7 speed cvt-i auto...",factory touchscreen audio system with reverse ...,NaN,64800.0,2018-05-28,2018,5,NaN
12645,1310514,Volvo V40 T4 Momentum,volvo,v40,"well maintained! the safety, reliable and dura...",2018.0,NaN,30-aug-2019,hatchback,parf car,...,NaN,uncategorized,powerful 2.0l 4 cylinder inline 16 valve turbo...,"keyless entry/start, cruise control, auto head...",NaN,92800.0,2019-08-30,2019,8,4.0
1533,1247893,Kia Carens 2.0A GDI,kia,carens,rare 1 owner unit! low km done! fully maintain...,2015.0,NaN,18-nov-2015,mpv,parf car,...,NaN,uncategorized,view specs of the kia carens,upgraded headunit with reverse camera! factory...,NaN,32888.0,2015-11-18,2015,11,NaN

### Impute cylinder data using make, model

In [39]:
cylinder_imputer = CylinderImputer()
train_df = cylinder_imputer.fit_transform(train_df) # 1479 rows missing
val_df = cylinder_imputer.transform(val_df) # 334 rows missing

# Many rows are missing, impute using median values
imputer = SimpleImputer(strategy='median')
train_df['cylinder_cnt'] = imputer.fit_transform(train_df[['cylinder_cnt']])

val_df['cylinder_cnt'] = imputer.transform(val_df[['cylinder_cnt']])

In [40]:
# idx_val = train_df[train_df['cylinder_cnt'].isna()].index
# train_df.loc[idx_val]

Empty DataFrame
Columns: [listing_id, title, make, model, description, manufactured, original_reg_date, reg_date, type_of_vehicle, category, transmission, curb_weight, power, fuel_type, engine_cap, no_of_owners, depreciation, coe, road_tax, dereg_value, mileage, omv, arf, opc_scheme, lifespan, eco_category, features, accessories, indicative_price, price, reg_date_dt, reg_date_year, reg_date_month, cylinder_cnt]
Index: []

[0 rows x 34 columns]

In [29]:
# val_df.loc[idx_val]

### Impute using LTA omv data

In [41]:
csv_filename = r'./dataset/lta_omv_data.csv'

In [45]:
if os.path.exists(csv_filename):
    df_lta_car_data = pd.read_csv(csv_filename)
else:
    result_ls = get_lta_omv_data(2002, 2025)
    df_lta_car_data = preprocess_lta_omv_data(result_ls)
    df_lta_car_data.to_csv(csv_filename)

In [51]:
# lta_data_imputer = LTADataImputer(df_lta_car_data)

In [63]:
idx_val = val_df[val_df['omv'].isna()].index
val_df.loc[idx_val]

Empty DataFrame
Columns: [listing_id, title, make, model, description, manufactured, original_reg_date, reg_date, type_of_vehicle, category, transmission, curb_weight, power, fuel_type, engine_cap, no_of_owners, depreciation, coe, road_tax, dereg_value, mileage, omv, arf, opc_scheme, lifespan, eco_category, features, accessories, indicative_price, price, reg_date_dt, reg_date_year, reg_date_month, cylinder_cnt]
Index: []

[0 rows x 34 columns]

In [62]:
train_df = lta_data_imputer.transform(train_df) # before transform: 49 rows missing, after transform: 24 rows missing
val_df = lta_data_imputer.transform(val_df) # before transform: 15 rows missing, after transform: 9 rows missing

imputer = SimpleImputer(strategy='median')
train_df['omv'] = imputer.fit_transform(train_df[['omv']])
val_df['omv'] = imputer.transform(val_df[['omv']])

### Parse category

In [69]:
train_df

,listing_id,title,make,model,description,manufactured,original_reg_date,reg_date,type_of_vehicle,category,...,opc_scheme,lifespan,eco_category,features,accessories,indicative_price,price,reg_date_dt,reg_date_year,reg_date_month
23311,1260733,Isuzu NPR85,isuzu,npr85,cheapest in the market! 14 feet full canopy wi...,2019.0,NaN,01-jul-2020,truck,premium ad car,...,NaN,30-jun-2040,uncategorized,view specs of the isuzu n series diesel,NaN,NaN,89800.0,2020-07-01,2020,7
23623,1289505,Honda Fit 1.3A G (COE till 06/2024),NaN,fit,200,2009.0,NaN,12-aug-2009,hatchback,coe car,...,NaN,NaN,uncategorized,view specs of the honda fit,NaN,NaN,700.0,2009-08-12,2009,8
1020,1316182,Toyota Sienta 1.5A,toyota,sienta,non phv. excellent condition. 100% accident fr...,2018.0,NaN,28-may-2018,mpv,"parf car, premium ad car",...,NaN,NaN,uncategorized,"1.5l dohc 16v vvt-i engine, 7 speed cvt-i auto...",factory touchscreen audio system with reverse ...,NaN,64800.0,2018-05-28,2018,5
12645,1310514,Volvo V40 T4 Momentum,volvo,v40,"well maintained! the safety, reliable and dura...",2018.0,NaN,30-aug-2019,hatchback,parf car,...,NaN,NaN,uncategorized,powerful 2.0l 4 cylinder inline 16 valve turbo...,"keyless entry/start, cruise control, auto head...",NaN,92800.0,2019-08-30,2019,8
1533,1247893,Kia Carens 2.0A GDI,kia,carens,rare 1 owner unit! low km done! fully maintain...,2015.0,NaN,18-nov-2015,mpv,parf car,...,NaN,NaN,uncategorized,view specs of the kia carens,upgraded headunit with reverse camera! factory...,NaN,32888.0,2015-11-18,2015,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,1330095,BMW 3 Series 318i,bmw,318i,0,2015.0,NaN,26-feb-2016,luxury sedan,"parf car, consignment car, sgcarmart warranty ...",...,NaN,NaN,uncategorized,powered by 134bhp and 1.5l twinpower turbochar...,"upgraded rims, brembo brakes, carbon steering,...",NaN,37800.0,2016-02-26,2016,2
5390,1300273,Nissan Qashqai 1.2A DIG-T,nissan,qashqai,"no repairs needed, buy and drive as it is! one...",2016.0,NaN,17-jun-2016,suv,"parf car, premium ad car",...,NaN,NaN,uncategorized,1.2l 4 cylinder inline 16 valve dohc turbochar...,"auto headlights, multi function steering wheel...",NaN,33688.0,2016-06-17,2016,6
860,1316903,Honda Jazz 1.3A,honda,jazz,"1 owner, maintain by honda kah motor, at dicks...",2019.0,NaN,10-jul-2019,hatchback,parf car,...,NaN,NaN,uncategorized,"1.3l i-vtec engine, cvt auto transmission with...","3 day money back, certified cars, one year war...",NaN,73800.0,2019-07-10,2019,7
15795,1329593,Ferrari 488 GTB,ferrari,488,ital unit with warranty till dec 2024. fully s...,2016.0,NaN,03-nov-2016,sports car,"parf car, direct owner sale, rare & exotic, lo...",...,NaN,NaN,uncategorized,a ferrari 488 gtb needs no extra words. view s...,"cf rear air ducts, cf under door cover,!lifter...",NaN,649900.0,2016-11-03,2016,11
23654,1321619,BMW 6 Series 630i Cabriolet (COE till 08/2028),bmw,630i,0,2008.0,NaN,29-aug-2008,sports car,"coe car, premium ad car",...,NaN,NaN,uncategorized,"3.0 inline 6 engine, 268bhp, with 315nm of tor...","original bmw audio, am/multi function steering...",NaN,53888.0,2008-08-29,2008,8